.preformatted {
    white-space: pre;
}

.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}

/*important for dashboard columns to work!!*/
.ui-dashboard-column {
    width:500px;
}

body,html{
    height:100%;
}

.c1 {
    width:300px;
}

.c2 {
    width:100px;
}

.c3 {
    width:300px;
}




